article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

mark {
	background: #ff0;
	color: #000;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}


:root {
	--headline-color: white;
	--background-color: #11151c;
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--text-color: rgba(255, 255, 255, 0.5);
}

:root {
	font-size: 14px;
}

body {
	--color-text: #e0e0e0;
	--color-text-secondary: #5e6262;
	--color-bg: transparent;
	--color-link: #5e6262;
	--color-link-hover: #e0e0e0;
	--color-date: #e0e0e0;
	color: var(--color-text);
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: black;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	cursor: none;

}



:root {
	--header-height: 3rem;
	--font-semi: 600;
	/*===== Colores =====*/
	/*Purple 260 - Red 355 - Blue 224 - Pink 340*/
	/* HSL color mode */
	--hue-color: 224;
	--second-color: white;
	--first-color: hsl(var(--hue-color), 56%, 12%);
	/*===== Fuente y tipografia =====*/
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--bigest-font-size: 3rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: .938rem;
	--smaller-font-size: .75rem;
	/*===== Margenes =====*/
	--mb-2: 1rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
	/*===== z index =====*/
	--z-back: -10;
	--z-fixed: 100;
}

:root {
	--purple: rgb(123, 31, 162);
	--violet: rgb(103, 58, 183);
	--pink: rgb(244, 143, 177);
}

@media screen and (min-width: 968px) {
	:root {
		--bigest-font-size: 6rem;
		--header-height: 2.3rem;
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
		--smaller-font-size: .875rem;
	}
}

@media screen and (min-width: 458px) and (max-width:968px) {
	:root {
		--bigest-font-size: 3rem;
		--header-height: 2rem;
		--big-font-size: 3rem;
		--h2-font-size: 1.5rem;
		--normal-font-size: 1rem;
		--smaller-font-size: .87rem;
	}
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate((-50%, -50%));
	z-index: 2;
}

canvas {
	display: block;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.content {
	display: flex;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 13rem);
	position: relative;
	justify-items: center;
	text-align: center;
	padding-bottom: 0;
	overflow: hidden;
}

.js .content__item {
	grid-area: 1 / 1 / 2 / 2;
}

.js .content__item>* {

	pointer-events: none;
}

.content__item--details {
	font-family: 'Poppins', sans-serif;

}

:root {
	--background-light: rgb(236, 229, 220);
	--background-dark: rgb(20, 20, 20);

	--gradient-color-1: rgb(178, 94, 82);
	--gradient-color-2: rgb(56, 33, 46);
	--gradient-color-3: rgb(42, 37, 51);
	--gradient-color-4: rgb(17, 30, 41);
}

@keyframes arc-rotation {
	from {
		transform: translate3d(-50%, -50%, 0px) rotate(0deg);
	}

	to {
		transform: translate3d(-50%, -50%, 0px) rotate(360deg);
	}
}


body.menu-toggled {
	background-color: var(--background-dark);
}

body.menu-toggled>#menu {
	pointer-events: all;
	cursor: default;
}

.line {
	background-color: white;
}

body.menu-toggled>#menu>#menu-toggle>span:first-of-type {
	transform: translate3d(0px, 8px, 0px) rotate(45deg);
}

body.menu-toggled>#menu>#menu-toggle>span:nth-of-type(2) {
	opacity: 0;
	transform: translate3d(-5px, 0px, 0px);
}

body.menu-toggled>#menu>#menu-toggle>span:nth-of-type(3) {
	transform: translate3d(0px, -8px, 0px) rotate(-45deg);
}

body.menu-toggled>#menu>#menu-toggle>#menu-toggle-label>.word {
	opacity: 0;
	transform: translate3d(-30%, 0px, 0px) skew(20deg) scaleX(1.2);
	transition: opacity 250ms cubic-bezier(.71, .19, .87, .33),
		transform 250ms cubic-bezier(.71, .19, .87, .33);
}

body.menu-toggled>#menu>#menu-toggle>#menu-toggle-label>.word:nth-of-type(2) {
	transition-delay: 100ms;
}

body.menu-toggled>#menu>#menu-gradient {
	height: 150vmax;
	opacity: 1;
	transform: translate3d(-50%, -47%, 0px);
	transition: height 600ms cubic-bezier(.58, .2, .62, .93),
		width 600ms cubic-bezier(.58, .2, .62, .93),
		transform 600ms cubic-bezier(.58, .2, .62, .93),
		opacity 400ms;
	width: 200vmax;
}

body.menu-toggled>#menu>#menu-gradient-blur {
	opacity: 0.5;
}

body.menu-toggled>#menu>#menu-arcs-wrapper {
	opacity: 0.5;
	transform: scale(1);
	transition: transform 600ms cubic-bezier(.16, .68, .25, .83),
		opacity 600ms cubic-bezier(.87, .12, .92, .39);
}

body.menu-toggled>#menu>#menu-links>.link {
	opacity: 1;
	transform: none;
	transition: opacity 600ms ease-in;
}

body.menu-toggled>#menu>#menu-links>.link:nth-of-type(2) {
	transition-delay: 100ms;
}

body.menu-toggled>#menu>#menu-links>.link:nth-of-type(3) {
	transition-delay: 150ms;
}

body.menu-toggled>#menu>#menu-links>.link:nth-of-type(4) {
	transition-delay: 200ms;
}

body.menu-toggled>#menu>#menu-links>.link:nth-of-type(5) {
	transition-delay: 250ms;
}

#menu {
	height: 100vh;
	left: 0px;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 100;
}

#menu>#menu-toggle {
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 50px;
	justify-content: center;
	left: 30px;
	padding: 0px;
	pointer-events: all;
	position: absolute;
	top: 30px;
	width: 50px;
	z-index: 5;
}

#menu>#menu-toggle:hover>span:nth-of-type(2),
#menu>#menu-toggle:hover>span:nth-of-type(3) {
	transform: translate3d(0px, 0px, 0px);
}

#menu>#menu-toggle>span {
	display: block;
	height: 3px;
	transition: transform 250ms;
	width: 24px;
}

#menu>#menu-toggle>span:nth-of-type(2) {
	transform: translate3d(5px, 0px, 0px);
}

#menu>#menu-toggle>span:nth-of-type(3) {
	transform: translate3d(-2px, 0px, 0px);
}

#menu>#menu-toggle>#menu-toggle-label {
	align-items: center;
	display: flex;
	height: 50px;
	gap: 5px;
	position: absolute;
	right: -20px;
	top: 0px;
	transform: translate3d(100%, 0px, 0px);
	white-space: nowrap;
}

#menu>#menu-toggle>#menu-toggle-label>.word {
	font-family: 'Audiowide', cursive;
	font-size: 1.5em;
	color: white;
	transition: opacity 250ms, transform 250ms;
}

#menu>#menu-gradient {
	background: radial-gradient(var(--background-light) 12%,
			var(--gradient-color-1) 13%,
			var(--gradient-color-2) 15%,
			var(--gradient-color-3) 60%,
			var(--gradient-color-4) 90%);
	height: 300vmax;
	left: 0px;
	opacity: 0;
	position: absolute;
	transform: translate3d(-50%, -50%, 0px) scale(4);
	transition: height 600ms cubic-bezier(.75, .1, .89, .36),
		width 600ms cubic-bezier(.75, .1, .89, .36),
		transform 600ms cubic-bezier(.75, .1, .89, .36),
		opacity 700ms cubic-bezier(.9, .02, .97, .28);
	top: 0px;
	width: 300vmax;
	z-index: 1;
}

#menu>#menu-gradient-blur {
	backdrop-filter: blur(1vmax);
	inset: 0px;
	opacity: 0;
	position: absolute;
	transition: opacity 600ms cubic-bezier(.87, .12, .92, .39);
	z-index: 2;
}

#menu>#menu-arcs-wrapper {
	height: clamp(600px, 200vmax, 6000px);
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transform: scale(1.15) translate3d(20%, 20%, 0px);
	transition: transform 600ms cubic-bezier(.87, .12, .92, .39),
		opacity 600ms cubic-bezier(.87, .12, .92, .39);
	width: clamp(600px, 200vmax, 6000px);
	z-index: 3;
}

#menu>#menu-arcs-wrapper>#menu-arcs {
	animation: arc-rotation 100s linear infinite;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	will-change: transform;
}

#menu>#menu-arcs-wrapper>#menu-arcs>.menu-arc {
	fill: none;
	stroke: rgba(255, 255, 255, 0.5);
	stroke-dasharray: 2, 10;
	stroke-width: 1;
}

#menu>#menu-links {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 30px;
	inset: 0px;
	justify-content: center;
	position: absolute;
	z-index: 4;
}

#menu>#menu-links>.link {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-family: "Rubik", sans-serif;
	gap: 10px;
	opacity: 0;
	position: relative;
	text-decoration: none;
	transition: opacity 250ms ease-in;
	width: 200px;
}

#menu>#menu-links>.link:hover>.label {
	transform: translate3d(6%, 0px, 0px);
}

#menu>#menu-links>.link:hover>.index {
	transform: translate3d(20%, 0px, 0px);
}

#menu>#menu-links>.link:hover>.anchor:before {
	opacity: 0.15;
	transform: translate3d(-50%, -50%, 0px) scale(1.5);
}

#menu>#menu-links>.link:hover>.anchor:after {
	border-color: red;
	transform: translate3d(-50%, -50%, 0px) scale(1.1);
}

#menu>#menu-links>.link>.anchor {
	background-color: white;
	height: clamp(4px, 0.4vmax, 12px);
	left: 0px;
	position: absolute;
	top: 50%;
	transform: translate3d(-500%, -100%, 0px) rotate(45deg);
	transition: transform 250ms;
	width: clamp(4px, 0.4vmax, 12px);
}

#menu>#menu-links>.link>.anchor:before,
#menu>#menu-links>.link>.anchor:after {
	content: "";
	height: 300%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
	transition: transform 250ms, border-color 250ms;
	width: 300%;
}

#menu>#menu-links>.link>.anchor:before {
	border: 1px solid red;
	opacity: 0;
}

#menu>#menu-links>.link>.anchor:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

#menu>#menu-links>.link>.index {
	color: rgb(255, 255, 255, 0.25);
	font-size: 0.8em;
	transition: transform 250ms;
}

#menu>#menu-links>.link>.label {
	color: white;
	font-size: 2.5em;
	transition: transform 250ms;
}



@media (min-width: 1000px) and (max-width: 2699px) {
	body.menu-toggled>#menu>#menu-links>.link {
		transition: transform 400ms cubic-bezier(.16, .68, .25, .83),
			opacity 500ms cubic-bezier(.87, .12, .92, .39);
	}

	#menu>#menu-gradient {
		transform: translate3d(-50%, -50%, 0px) scale(8);
	}

	#menu>#menu-links>.link {
		position: absolute;
		transform: translate3d(300%, 800%, 0px) scale(1.25);
		transition: transform 500ms cubic-bezier(.62, .16, .86, .45),
			opacity 400ms cubic-bezier(.16, .68, .25, .83);
	}

	#menu>#menu-links>.link>.anchor {
		top: 0%;
		transform: translate3d(-350%, -100%, 0px) rotate(45deg);
	}

	#menu>#menu-links>.link:first-of-type {
		left: 29.8vmax;
		top: 22vmax;
	}
}

@media (min-width: 1000px) and (max-width: 2099px) {
	#menu>#menu-links>.link:nth-of-type(2) {
		left: 59.2vmax;
		top: 16vmax;
	}

	#menu>#menu-links>.link:nth-of-type(3) {
		left: 44.5vmax;
		top: 42vmax;
	}

	#menu>#menu-links>.link:nth-of-type(4) {
		left: 75.8vmax;
		top: 39vmax;
	}

	#menu>#menu-links>.link:nth-of-type(5) {
		left: 83vmax;
		top: 19vmax;
	}
}

@media (min-width: 2100px) and (max-width: 2699px) {
	#menu>#menu-links>.link:nth-of-type(2) {
		left: 59.6vmax;
		top: 14vmax;
	}

	#menu>#menu-links>.link:nth-of-type(3) {
		left: 51vmax;
		top: 34vmax;
	}

	#menu>#menu-links>.link:nth-of-type(4) {
		left: 80.5vmax;
		top: 28vmax;
	}

	#menu>#menu-links>.link:nth-of-type(5) {
		left: 80.5vmax;
		top: 28vmax;
	}
}




.content__location {
	margin: 0;
	color: white;
	font-weight: 500;
	font-size: 7vw;
	padding-bottom: 10px;
}

.content__title {
	/* font-weight: 800; */
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	/* font-size: 9vw; */
	color: red;
	margin: 0;
	padding-top: 5rem;
}

.mar {

	font-family: Arial, sans-serif;
	font-size: 50px;

	background: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}

.mar:after {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.js .content__item .content__title {
	font-weight: 800;
	color: red;
	font-size: 9vw;
}

.content__title span {
	display: inline-block;

}

.land-img {
	opacity: 0.9;
	height: 250px;
	width: 1000px
}

@media screen and (max-width:768px) {
	.land-img {
		opacity: 1;
		height: 100px;
		width: 400px
	}
}

#text-front {
	margin-top: -5rem;
	font-family: "Permanent Marker", cursive;
	position: absolute;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	/* font-weight: 800; */
	letter-spacing: 10px;
	line-height: 0.8;
	color: var(--headline-color);
	-webkit-text-stroke: 2px var(--headline-color);
	z-index: 4;
}


.content__date {
	padding-top: 10px;
	font-size: 8vw;
	font-weight: 700;
	margin: 1rem 0 0 0;
	color: var(--color-date);
}

.content__item--columns {
	padding: 0 4rem;
	width: 100%;
	font-size: 1.5rem;
}

.content__inner {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 2rem 0 0 0;
	display: block;
}

.content__inner-item {
	display: inline;
	white-space: nowrap;
	font-weight: 700;
}

.content__inner-item--date {
	display: block;
	margin: 0 0 1.5rem;
	font-size: 2rem;
}

.content__inner-item:nth-child(3n-1) {
	/* font-family: titling-gothic-fb-narrow, sans-serif; */
	font-weight: 100;
	text-transform: uppercase;
}

.content__inner-item:nth-child(3n) {
	/* font-family: titling-gothic-fb-extended, sans-serif; */
	font-weight: 200;
}

.content__button {
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	color: var(--color-text);
	cursor: pointer;
	font-size: 1.25rem;
	/* font-family: titling-gothic-fb-wide, sans-serif; */
	font-weight: 700;
	position: relative;
}

.content__button::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: currentColor;
	left: 0;
	top: 100%;
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
	transform: scale3d(0, 1, 1);
	transform-origin: 0% 50%;
}

.content__button:hover::after {
	opacity: 1;
	transition: transform 0.3s, opacity 0.1s;
	transform: scale3d(1, 1, 1);
}


.js .content__item .content__button {
	opacity: 1;
	pointer-events: auto;
}

.content__button:focus {
	outline: none;
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 3rem 4rem;
		pointer-events: none;
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
	}

	.content {
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	.content__inner {
		margin: 0;
	}

	.content__item--columns {
		font-size: 2.15rem;
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: repeat(2, calc(50% - 2rem));
		padding: 0 4rem;
		grid-gap: 4rem;
	}
}



.btn-donate {
	margin-top: 30vw;
	--clr-font-main: hsla(0 0% 20% / 100);
	--btn-bg-1: hsla(194 100% 69% / 1);
	--btn-bg-2: hsla(217 100% 56% / 1);
	--btn-bg-color: hsla(360 100% 100% / 1);
	--radii: 0.5em;
	cursor: pointer;
	font-family: titling-gothic-fb-wide, sans-serif;
	min-height: 44px;
	font-size: var(--size, 1rem);
	font-weight: 600;
	transition: 0.8s;
	background-size: 280% auto;
	background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
	border: none;
	border-radius: var(--radii);
	color: var(--btn-bg-color);
	box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
	z-index: 5;
	height: 15px;
	width: 100px;
}

@media screen and (max-width:768px) {
	.btn-donate {
		margin-top: 90vw;
	}

	#text-front {
		margin-top: 10rem;
	}
}

.show-button {
	opacity: 1;
}

.btn-donate:hover {
	background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
	outline: none;
	box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
	.btn-donate {
		transition: linear;
	}
}

.about {
	margin-top: 100vh;
	padding-top: 0;
	position: relative;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

body::before {
	--line: hsla(0, 0%, 99%, 0.25);
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin,
		linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	z-index: -1;
}

.circle {
	height: 16px;
	width: 16px;
	border-radius: 24px;
	background-color: mediumslateblue;
	position: fixed;
	pointer-events: none;
	z-index: 99;
}

@keyframes blinking {
	0% {
		background: radial-gradient(circle, rgba(221, 253, 124, 0.6) 10%, rgba(255, 255, 255, 0) 70%);
	}

	50% {
		background: radial-gradient(circle, rgba(221, 253, 124, 0.3) 10%, rgba(255, 255, 255, 0) 70%);
	}

	100% {
		background: radial-gradient(circle, rgba(221, 253, 124, 0.6) 10%, rgba(255, 255, 255, 0) 70%);
	}
}

.bgcircle {
	width: 10rem;
	height: 10rem;
	border-radius: 10rem;
	background: radial-gradient(circle, rgba(221, 253, 124, 0.6) 10%, rgba(255, 255, 255, 0) 70%);
	position: fixed;
	pointer-events: none;
	z-index: 99;
	animation: glowing 1s linear infinite alternate, blinking 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	-webkit-animation: glowing 1s linear infinite alternate, blinking 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	transition: 0s all;
}

.sponsor {
	font-size: var(--bigest-font-size);
	padding-top: 2rem;
	font-family: 'Poppins', sans-serif !important;
	margin-left: 15rem;
	font-weight: 800;
	color: mediumslateblue;
	margin-bottom: 0;
}

.mobile {
	display: none;
}

.pc {
	display: block;
}

@media screen and (max-width:768px) {
	.sponsor {
		font-size: 2.0rem;
	}

	.mobile {
		display: block;
	}

	.pc {
		display: none;
	}
}

.grid-container {
	display: flex;
	margin-left: 15rem;
	flex-direction: column;
	/* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust the minmax values as needed */
	/* grid-auto-rows: 1fr; /* All rows have equal height */
	/* width: 100%;
    height: 100vh; */
}

.grid-container>h1 {
	padding-top: 20px;
	color: #aaa6c3;
	font-size: var(--big-font-size);
}

.grid-container>div {
	margin-left: 20px;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: end;
}

.events {
	margin-top: 100vh;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events>h1 {
	font-size: var(--bigest-font-size);
}

.card {
	width: 80%;
	height: auto;
	position: relative;
	background-color: rgb(16 16 16);
	border: 1px solid rgb(255 255 255 / 5%);
	border-radius: 1.5rem;
}

@keyframes borderFlow {
	0% {
		border-color: rgba(212, 210, 210, 0.2);
	}

	50% {
		border-color: mediumslateblue;
	}

	100% {
		border-color: rgba(212, 210, 210, 0.2);
	}
}

.button {
	width: 20%;
	position: relative;
	height: 22.5%;
	background-color: rgb(16 16 16);
	border: 3.5px solid rgba(212, 210, 210, 0.2);
	border-radius: 1.5rem;
	animation: borderFlow 1.5s infinite;
}

.card:after {
	content: "";
	height: 70px;
	width: 3px;
	position: absolute;
	left: -1px;
	top: 65%;
	transition: top, opacity;
	transition-duration: 600ms;
	transition-timing-function: ease;
	background: linear-gradient(transparent,
			mediumslateblue,
			transparent);
	opacity: 0;
}

.button:after {
	content: "";
	height: 30px;
	width: 5px;
	position: absolute;
	right: 0px;
	top: 80%;
	transition: top, opacity;
	transition-duration: 600ms;
	transition-timing-function: ease;
	background: linear-gradient(transparent,
			mediumslateblue,
			transparent);
	opacity: 0;
}


.card:after {
	top: 65%;
	opacity: 0;
}

.button:after {
	top: 55%;
	opacity: 0;
}

.card:hover:after {
	top: 25%;
	opacity: 1;
}

.button:hover:after {
	top: 25%;
	opacity: 1;
}

.card-content {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px,
			transparent 1px);
	background-position: 50% 50%;
	background-size: 1.1rem 1.1rem;
	padding: 4rem;
	border-radius: 1.25rem;
	overflow: hidden;

}

.button-content {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.25rem;
	overflow: hidden;

}

.card-content> :is(h1, h3, p) {
	text-align: center;
}

.card-content>h1 {
	color: rgb(250 249 246);
	font-size: 2.6rem;
}

.card-content>h2 {
	color: mediumslateblue;
	font-size: var(--big-font-size);
	margin-top: -10px;
}

.card-content>p {
	color: rgb(255 255 255 / 75%);
	font-size: 2vw;
	margin-top: 0;
}

.card-content>p>span {
	font-size: 1.2vw;
}

@media screen and (max-width:768px) {
	.card-content>p>span {
		font-size: 3vw;
	}
}

.button-content> :is(h1, h3, p) {
	text-align: center;
}

.button-content>h1 {
	color: rgb(250 249 246);
	font-size: 2rem;
}




@media(max-width: 700px) {
	.card {
		width: calc(100% - 2rem);
		margin: 0rem 1rem;
		padding: 0.75rem;
		border-radius: 1rem;
	}

	.button {
		width: calc(100% - 4rem);
		height: 4rem;
		margin: 0rem 1rem;
		padding: 0.75rem;
		border-radius: 1rem;
	}
}

@media(max-width: 600px) {
	.card-content {
		padding: 3rem;
	}

	.card-content>h2 {
		font-size: 1.6rem;
	}

	.card-content>p {
		font-size: 1.8rem;
	}

	.button-content {
		padding: 0rem;
		height: 2.5rem;
	}

	.button-content>p {
		font-size: 1.8rem;
	}

	.button-content>h1 {
		font-size: 1.8rem;
	}
}

.modal {
	cursor: default;
	display: none;
	position: fixed;
	top: 5%;
	width: 99%;
	height: 99%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	border-radius: 1.5rem;
	overflow: auto;
}

.events-nav {
	height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Styling for the content inside the modal */
.modal-content {
	color: white;
	position: relative;
	margin: auto;
	width: 90%;
	height: 90%;
	background-color: rgb(0, 0, 0);
	border: 1px dashed mediumslateblue;
	padding: 20px;
	border-radius: 1.5rem;
	text-align: center;
	overflow: hidden;
}


/*  button style */
.close {
	position: absolute;
	top: 0;
	left: 2%;
	font-size: 7vw;
	cursor: pointer;
}

.event-modal {
	height: 100%;
	width: 2000vh;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	gap: 1.8rem;
	padding: 2rem;
}

.modal-content>h2 {
	font-size: var(--big-font-size);
	margin-top: -5px;
}

.filter {
	background-color: rgba(255, 255, 255, 0.1);
	width: 40vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 1rem;
}

.filtem {
	background-color: mediumslateblue;
	padding: 0.9rem 2rem 0.9rem 2rem;
	border-radius: 1.5rem;
	font-size: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	cursor: pointer;
}

.search {
	height: 10vh;
	width: 20vw;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	border-radius: 1rem;
	align-items: center;
	justify-content: space-around;
}

.search>input {
	border-radius: 1.3rem;
	padding: 0.9rem 2rem;
	background-color: transparent;
	font-size: 1vw;
	backdrop-filter: blur(5px);
	color: white;
	border: 0.1px solid white;

}


@media screen and (max-width:768px) {
	.search {
		width: 100%;
	}

	.search>input {
		width: 60%;
		height: 50%;
		font-size: 3vw;
	}

	.search>button {
		width: 30%;
		height: 50%;
		font-size: 3vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.filter {
		width: 100%;
	}

	.filtem {
		padding: 0.9rem 1rem 0.9rem 1rem;
		display: flex;
		align-content: center;
		justify-content: center;
		height: 50%;
		font-size: 2.5vw;
	}

	.all {
		display: none;
	}


}

.event-list {
	overflow-y: hidden;
	overflow-x: scroll;
	margin-top: 2%;
	background-color: rgba(255, 255, 255, 0.1);
	height: 70%;
	border-radius: 1rem;
	overflow-y: hidden;
	display: flex;
}

.event-container {
	height: 42vh;
	width: 250px;
	background-color: white;
	border-radius: 1rem;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	color: black;
	margin-left: 2rem;
	backface-visibility: hidden;
}

@media screen and (max-width:768px) {
	.event-modal {
		flex-direction: column;
		width: 100vh;
		height: 2000vh;
		overflow: scroll;
		margin-left: 1rem;
	}

	.event-list {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.modal-content {
		height: auto;
	}

	.event-container {
		margin-top: 2rem;
		margin-left: 1rem;
	}
}

.event-image {
	background-color: grey;
	height: 50%;
	width: 100%;
	border-radius: 1rem;
}

.event-details {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	text-align: left;
	height: 50%;
	width: 100%;
	justify-content: space-evenly;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: black;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: mediumslateblue;
	border-radius: 6px;
}

.event-list::-webkit-scrollbar-track {
	border: 2px solid white;
}

.scroll-downs {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 34px;
	height: 55px;
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 3.5px solid mediumslateblue;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}

.scroller {
	width: 5px;
	height: 10px;
	border-radius: 25%;
	background-color: white;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}

	10% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

.event-name {
	/* font-size: 1.3vw; */
	font-weight: 600;
}

.event-type {
	color: rgba(10, 10, 10, 0.7);
	font-weight: bold;
}

.event-about {
	text-overflow: clip;
	color: rgba(57, 57, 57, 0.7);

}

.ext {
	display: none;
}

.event-period {
	color: rgba(10, 10, 10, 0.7);
	font-weight: bold;

}

.event-type>span {
	font-weight: 600;
}

.event-period>span {
	font-weight: 600;
}

.event-type>span {
	font-weight: 600;
}

.event-details>button {
	border-radius: 0.5rem;
	height: 30px;
	width: 100px;
	align-self: center;
	margin-left: -2%;
	border: 1px solid white;
	color: white;
	background: mediumslateblue;

}

.cardp {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	border-radius: 15px;
	width: 250px;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
	.cardp {
		height: 350px;
	}


}

.cardp:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}

.cardp:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}

.cardp:nth-child(1):before {
	background-image: url("../img/_a50cb478-3072-43fa-b762-9ef34aeaf916.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(2):before {
	background-image: url("../img/_981d0d94-5ad8-4dbe-bbc6-b2df78d100e6.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(3):before {
	background-image: url("../img/_ac752eba-0667-46e4-81c0-fb6b57387518.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(4):before {
	background-image: url("../img/_15da2490-c525-4974-bd5f-973caa52fbd6.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(5):before {
	background-image: url("../img/_b0b59913-1a61-4546-87a3-c25ad27eb38a.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(6):before {
	background-image: url("../img/_b936f3e8-6b4f-4b95-9a65-1572957e51b0.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(7):before {
	background-image: url("../img/_fc422fe7-b2cf-45ee-ade4-b6840b69913f.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(8):before {
	background-image: url("../img/_605230e5-7221-47f5-a60c-34379e79ab8d.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(9):before {
	background-image: url("../img/abc-shark-tank.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(10):before {
	background-image: url("../img/_6259463f-2a44-46ad-89cd-f6032747d1bb.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(11):before {
	background-image: url("../img/_9dc1cdb6-8e07-489a-8f29-6e2b7e3a0d43.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(12):before {
	background-image: url("../img/_64dcf924-520b-4196-be9c-1612eb69334e.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(13):before {
	background-image: url("../img/_9bcaf85c-22e4-4ea7-9350-8cf448ebe5be.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(14):before {
	background-image: url("../img/_6909c64e-d8b0-4ce3-8f34-4632074a8504.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(15):before {
	background-image: url("../img/_ef5a44b6-7c81-4264-90cd-96e0b2cfce1f.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(16):before {
	background-image: url("../img/_85a5cf5f-4503-4b34-a9fc-e6dca95c9c77.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(17):before {
	background-image: url("../img/_050f8f4e-d983-42d1-80e4-3b81295fa1cf.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(18):before {
	background-image: url("../img/_c4702e52-7fee-45ab-b080-f190f7095048.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(19):before {
	background-image: url("../img/_adfa3e31-442a-4a53-ba5b-5594b3d1c732.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(20):before {
	background-image: url("../img/_f733105a-9c28-4ff7-8c73-a1bdddc27dc9.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(21):before {
	background-image: url("../img/_7c4b25a4-25a8-49b7-8d2b-8b40ae211be4.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(22):before {
	background-image: url("../img/_e9ab54f4-9032-4530-8afc-cc5088bbb1b0.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(23):before {
	background-image: url("../img/_283e3706-5fd7-4494-a7e2-784611006b9a.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(24):before {
	background-image: url("../img/_4aa5cf40-65d4-4761-9a79-643468122334.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(25):before {
	background-image: url("../img/_25748801-3bdd-4968-81cb-314b635491b1.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(26):before {
	background-image: url("../img/_4c691cdd-21fe-4e92-b431-b8e60fc4ae04.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(27):before {
	background-image: url("../img/esport\ poster.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}


.cardp:nth-child(28):before {
	background-image: url("../img/_eba4a0ce-a1d6-4ddb-a092-def0a44b44c7.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(29):before {
	background-image: url("../img/_033b7d3e-b396-44fe-8e87-9ce6283c4c4c.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(30):before {
	background-image: url("../img/_b4147b25-72dc-4c65-92a8-cd259b4ce0e9.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(31):before {
	background-image: url("../img/_7f44e867-6de3-4a51-8f1f-2150b08c2bd3.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(32):before {
	background-image: url("../img/_a3f693de-64fc-4b17-a29c-80e0ac70477a.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(33):before {
	background-image: url("../img/_73f38331-b6de-4e71-aa95-8754b6be9ebd.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(34):before {
	background-image: url("../img/_cc5e6843-09bd-4814-b7e9-e9e758294883.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(35):before {
	background-image: url("../img/_fbdc247a-156b-444d-918f-e6f3c1083468.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(36):before {
	background-image: url("../img/_ae7c3363-9f2b-4791-8005-4c8c91561f30.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(37):before {
	background-image: url("../img/_4c691cdd-21fe-4e92-b431-b8e60fc4ae04.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(38):before {
	background-image: url("../img/ADZAP.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(39):before {
	background-image: url("../img/BAND-PLAY.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(40):before {
	background-image: url("../img/_988131b1-d5ce-44ad-ad73-3e044f233cab.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(41):before {
	background-image: url("../img/TECHNICAL\ TRIVIA.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(42):before {
	background-image: url("../img/CINEPHILIA.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(43):before {
	background-image: url("../img/BRIDGE\ BUILDING.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(44):before {
	background-image: url("../img/_2568c69a-1b7e-4297-bd14-d12876832473.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(45):before {
	background-image: url("../img/_024df9ee-002e-4c7d-8a40-77989aebb104.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(46):before {
	background-image: url("../img/BEST\ MANAGER.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(47):before {
	background-image: url("../img/ADZAP.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.cardp:nth-child(48):before {
	background-image: url("../img/_d7e6e7cf-955b-4a7c-9df5-359b433577c0.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.contentp {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}

.contentp>*+* {
	margin-top: 1rem;
}

.titlep {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copyp {
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

.btnp {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
	border-radius: 10px;
}

.btnp:hover {
	background-color: mediumslateblue;
}

.btnp:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	.cardp:after {
		transform: translateY(0);
	}

	.contentp {
		transform: translateY(calc(100% - 4.5rem));
	}

	.contentp>*:not(.titlep) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}

	.cardp:hover,
	.cardp:focus-within {
		align-items: center;
	}

	.cardp:hover:before,
	.cardp:focus-within:before {
		transform: translateY(-4%);
	}

	.cardp:hover:after,
	.cardp:focus-within:after {
		transform: translateY(-50%);
	}

	.cardp:hover .contentp,
	.cardp:focus-within .contentp {
		transform: translateY(0);
	}

	.cardp:hover .contentp>*:not(.titlep),
	.cardp:focus-within .contentp>*:not(.titlep) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
	}

	.cardp:focus-within:before,
	.cardp:focus-within:after,
	.cardp:focus-within .contentp,
	.cardp:focus-within .contentp>*:not(.titlep) {
		transition-duration: 0s;
	}
}

@media screen and (max-width:768px) {
	.about {
		margin-left: 0;
		height: auto;
		margin-top: 0;
		overflow-x: hidden;
		padding-left: 1rem;
	}

	.scroll-downs {
		display: none;
	}

	.sponsor {
		margin-left: 2rem;
	}

	.grid-container {
		margin-left: 2rem;
	}

	.events {
		margin-top: 0;
		height: auto;
		margin-top: 2rem;
	}

	.events-nav {
		height: 20vh;
		flex-direction: column-reverse;
	}

	.content__item--details {
		margin-top: 10rem;
		margin-left: 3vw;
	}

	.circle {
		display: none;
	}

	.bgcircle {
		display: none;
	}

	.btn-donate {
		top: 35rem
	}

	.content__location {
		padding-bottom: 2rem;
	}

	.content__title {
		padding-bottom: 1rem;
	}
}

.hidden {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transform: translateY(-100%);
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.hidden:nth-child(14) {
	transition-delay: 600ms;
}

.title {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transform: translateY(100%);
}

.reveal {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.timeline {
	position: relative;
	height: 100%;
	width: 100%;
}

.timeline>h1 {
	margin-left: 15rem;
	font-weight: 800;
	font-size: var(--bigest-font-size);
}

.line-container {
	top: 20rem;
	width: 100%;
	height: auto;
}

.line-container>svg {
	display: inline-block
}

@media screen and (max-width:768px) {

	.timeline {
		margin-top: 0;
		margin-left: 0rem;
		height: auto;
		margin-bottom: 4rem;
	}

	.timeline>h1 {
		font-size: 2.5rem;
		margin-left: 2rem;
	}

	.line-container {
		top: 10rem;
		margin-left: 0rem;
	}
}

:root {
	--dark: black;
	--yellow: rgb(253, 216, 53);
	--blue: rgb(98, 0, 234);

	--c1: black;
	--c2: mediumslateblue;

	--left-color: var(--c1);
	--right-color: var(--c2);
}

:root {
	--dark: black;
	--yellow: rgb(253, 216, 53);

	--c1: black;
	--c2: #745fec;

	--left-color: var(--c1);
	--right-color: var(--c2);
}


.side {
	display: grid;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.fp {
	font-size: var(--h2-font-size);
	margin-left: 10rem;
	line-height: 2;
	width: 80vw;
	text-align: justify;
}

.side .title {
	font-size: 7vw;
	font-weight: 800;
	margin: 0px 10vw;
	margin-top: 5rem;
	width: 100%;
}

.side .fancy {
	font-family: "Permanent Marker", cursive;
	font-size: 1.8em;
	line-height: 0.6em;
}

#left-side {
	background-color: var(--left-color);
	width: 100%;
	z-index: 2;
}

#left-side .title {
	color: white;
}

#left-side .fancy {
	color: var(--right-color);
}

#right-side {
	background-color: var(--right-color);
}

#right-side .title {
	color: var(--dark);
}

#right-side .fancy {
	color: white;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cell {
	position: relative;
	height: auto;
	padding: 20px;
	text-align: center;
}

.cell>h1 {
	position: absolute;

	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.grmobile {
	display: none;
}

.side-img {
	animation: rotateAnimation 2s linear infinite;
	margin-bottom: 0;

}

@-webkit-keyframes rotateAnimation {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.cp {
	margin-top: 0rem;
	font-size: var(--h2-font-size);
	font-family: "Permanent Marker", cursive;
}


@media (max-width: 768px) {
	#left-side {
		background-color: transparent;
		position: relative;
		height: auto;
	}

	.fp {
		line-height: 2.5;
		margin-left: 0rem;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		align-self: center;
	}

	#right-side {
		position: relative;
		height: auto;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.grpc {
		display: none;
	}

	.grmobile {
		display: blocK;
	}

	.cell>h1 {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%)
	}

	.cp {
		font-size: 5vw;
		margin-top: -2rem;
	}
}


.org {
	height: auto;
	width: 100%;
	position: relative;
}

.org>h1 {
	margin-left: 10rem;
	font-weight: 800;
	margin-top: 5rem;
	margin-bottom: 0;
	font-size: var(--bigest-font-size);
}

.org>p {
	margin-left: 10rem;
	line-height: 2;
	font-size: 1.5rem;
	width: calc(100% - 15rem);
	color: #c0c0c0;
}

.mentor-grid {
	height: auto;
	/* margin-left: 15rem; */
	display: grid;
	gap: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.mentor {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container-mentor {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.profile-image {
	display: block;
	position: absolute;
	transform: translate(23%, 23%);
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.concentric-circle {
	height: 290px;
	width: 290px;
}

.concentric-circle:hover {
	transform: rotate(60deg);
	transition: 2s;
	/* backdrop-filter: blur(10px); */
}

.mentor-det {
	align-self: center;
	justify-self: center;
}

.mentor-det>p {
	color: #aaa6c3;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: var(--normal-font-size);
}

.mentor-det>h2 {
	font-size: var(--h2-font-size);
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.mentor-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {

	.org {
		margin-left: 0;
	}

	.org>h1 {
		margin-top: -5rem;
		margin-left: 2rem;
	}

	.org>p {
		width: 80%;
		margin-left: 2rem;
	}

	.mentor-grid {
		margin-left: -2rem;
	}
}

@keyframes wave {

	from,
	to {
		transform: translate(-50%, 0%);
	}

	50% {
		transform: translate(-50%, -20%);
	}
}

#bubble-wrapper {
	height: 50vh;
	width: 100%;

	position: absolute;
	top: 870vh;
	overflow: hidden;
	pointer-events: none;
}

.bubble {
	height: max(300px, 30vw);
	width: max(300px, 30vw);

	background-color: mediumslateblue;
	border-radius: 100%;

	position: absolute;
	left: 50%;
	top: 100%;
	animation: wave 2s ease-in-out infinite;
}

@media(prefers-reduced-motion) {
	.bubble {
		animation: none;
		display: none;
	}
}

#footer {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	bottom: 0px;
	position: relative;
	height: 50vh;
	/* top: 870vh; */
	width: 100%;
}

#footer-content {
	padding: 4rem 8rem;
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

.footer-section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-section-title {
	color: white;
	font-size: 2rem;
}

.footer-section-links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 160px;
}

.footer-section-links>a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.footer-section-links>a:hover {
	text-decoration: underline;
}

.footer-section:first-child {
	justify-content: center;
	align-items: center;
	font-size: var(--h2-font-size);
}

@media(max-width: 900px) {
	#bubble-wrapper {
		display: none;
	}

	#footer {
		top: 0;
		margin: 0;
	}

	#footer-content {
		flex-direction: column;
		gap: 2rem;
		padding: 4rem;
	}

	.footer-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-section-title {
		flex-shrink: 0;
		width: 120px;
	}
}

@media(max-width: 600px) {
	#footer {
		position: relative;
	}

	#footer-content {
		padding: 2rem;
	}

	.footer-section {
		margin-left: 2rem;
	}

	.footer-section-title {
		font-size: 2rem;
	}

	.footer-section-links>a {
		font-size: 1.1rem;
	}
}

.contact-icon {
	display: flex;
	gap: 10px;
}

.fixed-social {
	position: absolute;
	display: flex;
	/* width: 10%; */
	padding: 1rem;
	flex-direction: column;
	z-index: 99;
	gap: 2rem;
	top: 40%;
	margin-left: 2rem;
	/* background-color: white; */

	border-radius: 23px;
}

.fixed-social-mobile {
	display: none;
}


@media screen and (max-width:768px) {
	.fixed-social-mobile {
		position: absolute;
		display: flex;
		/* width: 10%; */
		padding: 1rem;
		/* flex-direction: column; */
		z-index: 99;
		gap: 2rem;
		top: 3.5%;
		left: 65%;
		margin-left: 2rem;
		/* background-color: white; */

		border-radius: 23px;
	}

	.fixed-social {
		display: none;
	}

}

#snackbar button {
	color: #000;
	background-color: #999;
	margin-right: 20px;
	border: none;
	border-radius: 3px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	/* Hidden by default. Visible on click */
	min-width: 250px;
	/* Set a default minimum width */

	/* Divide value of min-width by 2 */
	background-color: #333;
	/* Black background color */
	color: #fff;
	/* White text color */
	text-align: center;
	/* Centered text */
	border-radius: 2px;
	/* Rounded borders */
	padding: 16px;
	/* Padding */
	position: fixed;
	/* Sit on top of the screen */
	z-index: 1;
	/* Add a z-index if needed */
	top: 5%;
	left: 75%;
	z-index: 9;
	/* 30px from the bottom */
}

@media screen and (max-width:768px) {
	#snackbar {
		visibility: hidden;
	}
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.hide {
	visibility: hidden !important;
	/* Show the snackbar */

	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}